name: CD

on:
  pull_request:
    types:
      - closed

permissions:
  id-token: write
  contents: read
  pull-requests: write
  actions: read

jobs:
  deploy-dev:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch latest changes
        run: git fetch origin main

      - name: Debugging file changes
        run: git diff --name-only origin/main

      - name: Execute sql changes to D1
        run: |
          git diff --cached --diff-filter=A --name-only origin/main -- ./**/*.sql > sql_files.txt
          cat sql_files.txt

      - name: Debug SQL files
        run: |
          echo "Listing all SQL files in repository:"
          find . -name "*.sql"
